 body {
background-color: #fff; 
margin:0;
}

#sister-sites small{
	display: block;
	color: #777777;
}

#sister-sites li{
	display:inline-block;
	margin-right: 1px;
	padding:4px 5px 0 5px;
	border:1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	word-spacing: normal;

}

#sister-sites ul{
	margin: 0 auto;
	padding: 0;
	/*background-color: red;*/
	width:960px;



}

#sister-sites a{
	text-decoration: none;
	color: #06c;
}

#sister-sites{
	background-color: #ccc;
	padding-top: 5px;
	border-bottom: 1px solid #aaa;
	word-spacing:-4px;
}

#active-site a{
color: #777777;

}

li#active-site {
	background-color: #fff;
	padding:4px 5px 0 5px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-top: 1px solid #aaa;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position: relative;
	top:1px;
}

#sister-sites li:hover:not(#active-site){
	background-color: white;
	border:1px solid #bde2f1;
	border-bottom: none;
}

#sister-sites li:hover:not(#active-site) a,
#sister-sites li:hover:not(#active-site) a small{
	color: #00BFFF;
}

main{
	width: 960px;
	margin: 0 auto;
}


.product{
	background-color: #eee;
	width: 19%;
	margin-right: 12px;
	height: 210px;
	margin-bottom: 50px;
	float:left;
	position: relative;
	border:1px solid #999;
	box-sizing: border-box;
}

.product h2{
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.product img{
	max-width: 100%;
}

.product:last-child{
	margin-right: 0;
}

.product div{
	padding:10px;
}
.product p{
	font-weight: bold;
	text-align: right;
}
.discount{
	background-color:#e34647;
	padding: 4px 10px;
	color: white;
	position: absolute;
	top: 7px;
	left: -5px;
}

body > footer{
	background-color: #333;
	clear:both;
	color: #aaa;
	padding: 20px 0;
}


#links{
	width:65%;
	float: left;
	padding-left: 15px;
	
}

#functions{
	float: right;
	width: 32%;
	height:145px;
	padding:10px;
	text-align: center;
	
}

#links,
#functions{
	box-sizing: border-box;
	border:1px solid #777;
	border-radius: 4px;
}

#footer-container {
	margin:0 auto;
	width:960px;
}
body>footer:after{
	content: '';
	display: block;
	clear: both;
}

body>footer ul{
	list-style: none;
	width: 33.33%;
	padding-left:0;
	float: left;
}

#links a{
	color:#eee;
	text-decoration: none;
	line-height: 28px;
}
#links a, 
#functions a{
	color: #eee;
	text-decoration: none;
	line-height: 28px;
}
}

#links a:hover{
	text-decoration: underline;
	color:#aaa;
}

#functions hr{
	height: 1px;
	border:none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,7f7f7f+50,333333+100 */
background: rgb(51,51,51); /* Old browsers */
background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(127,127,127,1) 50%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(127,127,127,1) 50%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(127,127,127,1) 50%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 ); /* IE6-9 */
}

#functions hr ~ a{
	padding:2px 20px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	border:1px solid #111;

}

#functions hr + a{
	background-color: red;
	box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.5);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#161616+0,161616+34,262626+53,2b2b2b+71,7d7e7d+100 */
background: rgb(22,22,22); /* Old browsers */
background: -moz-linear-gradient(top, rgba(22,22,22,1) 0%, rgba(22,22,22,1) 34%, rgba(38,38,38,1) 53%, rgba(43,43,43,1) 71%, rgba(125,126,125,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(22,22,22,1) 0%,rgba(22,22,22,1) 34%,rgba(38,38,38,1) 53%,rgba(43,43,43,1) 71%,rgba(125,126,125,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(22,22,22,1) 0%,rgba(22,22,22,1) 34%,rgba(38,38,38,1) 53%,rgba(43,43,43,1) 71%,rgba(125,126,125,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
}


#functions hr + a + a{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2b2b+0,3a3a3a+34,545454+53,2b2b2b+71,7d7e7d+100 */
background: rgb(43,43,43); /* Old browsers */
background: -moz-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(58,58,58,1) 34%, rgba(84,84,84,1) 53%, rgba(43,43,43,1) 71%, rgba(125,126,125,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(43,43,43,1) 0%,rgba(58,58,58,1) 34%,rgba(84,84,84,1) 53%,rgba(43,43,43,1) 71%,rgba(125,126,125,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(43,43,43,1) 0%,rgba(58,58,58,1) 34%,rgba(84,84,84,1) 53%,rgba(43,43,43,1) 71%,rgba(125,126,125,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */

}

#search{
	background-color:#efefef;
	padding:20px;
}
#categories{
	background-color: white;
	width: 66%;
}
.container{
	width: 960px;
	margin:0 auto;
}
#main-categories{
	padding-left: 0;
	list-style:none;
}

#main-categories li{
	display:inline-block;
	width: 155px;
	text-align: center;
	padding:8px 0;
}

#main-categories li:nth-child(1){
	background-color:#f19608;

}
#main-categories li:nth-child(2){
	background-color:#f06534;

}
#main-categories li:nth-child(3){
	background-color: #738297;

}
#main-categories li:nth-child(4){
	background-color: #72ae2d;
	width: 156px;

}
#categories a{
	font-size: 18px;
	text-decoration: none;
	color:white;
}

/*#categories ul:not(#main-categories){

}*/
#main-categories ~ ul{
	list-style: none;
	padding-left: 20px;
	background-color: orange;
	width: 33.33%;
	float:left;
	box-sizing: border-box;

}
main{
	clear: both;
}

#search:after{
	content: '';
	display: block;
	clear: both;

}



















